*{
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
  text-align: center;
  color: white;
}

#discord {
  display: flex;
  align-items: center;
}

#menu {
  text-align: center;
  font-size: large;
  color: white;
  display: flex;
}